# Logs
*.log
npm-debug.log*

# npm
node_modules
package-lock.json

# Build
main.js
*.js.map

# IDE
.DS_Store
.idea
.vscode
*.swp
*.swo
*~

# OS
Thumbs.db

# Compiled output
dist

# Test coverage
coverage

# Temporary files
*.tmp
.temp
